body {
    height: 100vh;
    margin: 0;
    color: #FFFFFF;
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: space-evenly;   
}

.btn-choice {
    background-color: #00FF00;
}

.global-score {
    font-size: 30px;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#global-score-container {
    display: flex;
    justify-content: space-between;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 35%;
}

#game-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-stats {
    display: flex;
    justify-content: space-evenly;
}

.header-text {
    text-align: center;
}